{{#if newQuestionHidden}}
<button class="btn new-question-btn" {{action 'showNewQuestion'}}>New Question</button>
{{else}}
<form>
  <label for="author">Author:</label>
  {{input type="text" value=author id="author" class="form-control"}}
  <label for="title">Question Title:</label>
  {{input type="text" value=title id="title" class="form-control"}}
  <label for="body">Question Description:</label>
  {{textarea type="text" value=body id="body" class="form-control"}}
  <button class="btn" {{action 'postQuestion'}}>Post Question!</button>
  <button class="btn" {{action 'cancelQuestion'}}>Cancel</button>
</form>
{{/if}}
