<h3 class="question-detail">{{question.title}}</h3>
<h4 class="question-sub-header">Asked by {{question.author}} {{moment-from-now question.timestamp}}</h4>
<p class="question-body">
  {{question.body}}
  {{update-question question=question updateQuestion="updateQuestion"}}
</p>
<button {{action 'addFavoriteQuestion' question}} class="btn">Favorite</button>
{{favorited question favorites}}
<hr>
<h3>Answers:</h3>
{{#each question.answers as | answer |}}
  {{answer-tile answer=answer}}
{{/each}}
{{new-answer postAnswer="postAnswer" question=question}}
